<h3>Hello <%= @user.first_name%> <%= @user.last_name %>!</h3>

Thanks for enrolling in Welcome HR. You can always access the system at
<%= link_to FRONTEND_URL do %>
    <h6>WelcomeHomes</h6>
<% end %>