<h3>Hello <%= @applicant.first_name%> <%= @applicant.last_name %></h3>

<h3>Your applicant was rejected.</h3><br/>
<h4><%= @applicant.rejected_reason %></h4><br/>
<p><%= @applicant.rejected_text %></p>