<h3>Hello <%= @user.first_name%> <%= @user.last_name %>!</h3>

To reset password, visit below link.
 <%= link_to FRONTEND_URL + '/reset-password/' + @user.reset_password_token, target: '_blank' do %>
    <h6>Reset Password</h6>
<% end %>

Thank you!